<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-33</key>
	<string>目录已满</string>
	<key>-34</key>
	<string>磁盘已满</string>
	<key>-35</key>
	<string>分卷不存在</string>
	<key>-36</key>
	<string>访问磁盘媒介时遇到问题</string>
	<key>-37</key>
	<string>名称有误</string>
	<key>-38</key>
	<string>文件未打开</string>
	<key>-39</key>
	<string>到达文件末端</string>
	<key>-40</key>
	<string>指定的文件偏移为负</string>
	<key>-41</key>
	<string>文件无法分配到内存</string>
	<key>-42</key>
	<string>打开文件过多</string>
	<key>-43</key>
	<string>文件未找到</string>
	<key>-44</key>
	<string>媒体已被写保护</string>
	<key>-45</key>
	<string>文件已锁定</string>
	<key>-46</key>
	<string>分卷已锁定</string>
	<key>-47</key>
	<string>文件正在被使用</string>
	<key>-48</key>
	<string>同名文件已存在</string>
	<key>-49</key>
	<string>文件已打开</string>
	<key>-50</key>
	<string>错误的参数</string>
	<key>-51</key>
	<string>文件查询编号错误</string>
	<key>-52</key>
	<string>无法获得文件偏移位置</string>
	<key>-53</key>
	<string>分卷不存在</string>
	<key>-54</key>
	<string>文件已锁定</string>
	<key>-55</key>
	<string>磁盘已载入</string>
	<key>-56</key>
	<string>指定了一个不存在的卷标</string>
	<key>-57</key>
	<string>磁盘格式不兼容</string>
	<key>-58</key>
	<string>无法获取分卷文件系统类型</string>
	<key>-59</key>
	<string>重命名时发生错误</string>
	<key>-60</key>
	<string>主目录区已损坏</string>
	<key>-61</key>
	<string>没有足够的权限写入文件</string>
	<key>-64</key>
	<string>驱动器未安装</string>
	<key>-120</key>
	<string>无法找到目录</string>
	<key>-121</key>
	<string>已打开过多目录</string>
	<key>-122</key>
	<string>文件夹无法移动到自身的子文件夹</string>
	<key>-123</key>
	<string>卷标类型错误</string>
	<key>-124</key>
	<string>服务器卷标断开连接</string>
	<key>-127</key>
	<string>文件系统驱动软件存在问题</string>
	<key>-128</key>
	<string>操作已取消</string>
	<key>-818</key>
	<string>数据无法解析</string>
	<key>-819</key>
	<string>无法初始化临时文件</string>
	<key>-820</key>
	<string>无法应用临时文件</string>
	<key>-821</key>
	<string>认证错误</string>
	<key>-822</key>
	<string>数据无法解压缩</string>
	<key>-823</key>
	<string>您尚未输入口令</string>
	<key>-824</key>
	<string>数据无法被正确格式化</string>
	<key>-825</key>
	<string>笔记解码后包含不匹配数值</string>
	<key>-1300</key>
	<string>无法在文件系统上找到指定 ID</string>
	<key>-1301</key>
	<string>文件 ID 已存在</string>
	<key>-1302</key>
	<string>文件实际为文件夹</string>
	<key>-1303</key>
	<string>文件在另一分卷上</string>
	<key>-1304</key>
	<string>不可预料的分类更改</string>
	<key>-1306</key>
	<string>文件试图自己修改其内容</string>
	<key>-1307</key>
	<string>文件无法匹配文件 ID</string>
	<key>-1308</key>
	<string>分卷被错误载入</string>
	<key>-1309</key>
	<string>文件在限制范围外被载入</string>
	<key>-1310</key>
	<string>文件或分卷过大</string>
	<key>-1311</key>
	<string>分卷已被虚拟内存系统使用</string>
	<key>-1327</key>
	<string>文件控制区列表访问错误</string>
	<key>-1400</key>
	<string>文件系统返回未知错误</string>
	<key>-1401</key>
	<string>文件系统查询无效</string>
	<key>-1402</key>
	<string>不可用的分支名称</string>
	<key>-1403</key>
	<string>缓存未初始化</string>
	<key>-1404</key>
	<string>错误的分支编号</string>
	<key>-1405</key>
	<string>所请求的文件分类信息是错误的</string>
	<key>-1406</key>
	<string>分类信息缓存未初始化</string>
	<key>-1407</key>
	<string>该文件夹实是文件</string>
	<key>-1409</key>
	<string>文件所指定的分支不存在</string>
	<key>-1410</key>
	<string>请求的文件名过长而不可用</string>
	<key>-1411</key>
	<string>未指定文件名</string>
	<key>-1412</key>
	<string>访问文件时被指定了错误的读取位置</string>
	<key>-1413</key>
	<string>文件分配错误</string>
	<key>-1417</key>
	<string>没有更多可查找的内容</string>
	<key>-1418</key>
	<string>未指定要从目录中读取的项目</string>
	<key>-1419</key>
	<string>搜搜参数错误</string>
	<key>-1420</key>
	<string>文件系统不一致</string>
	<key>-1421</key>
	<string>文件已存在分支</string>
	<key>-1422</key>
	<string>迭代目录时遇到错误参数</string>
	<key>-1423</key>
	<string>指定的目录迭代器错误</string>
	<key>-1424</key>
	<string>目录迭代器使用错误</string>
	<key>-1425</key>
	<string>磁盘空间已满</string>
	<key>-5000</key>
	<string>您的帐号没有访问目录的权限</string>
</dict>
</plist>
