body,p,td,div {
	font-family: Helvetica,Arial,sans-serif;
	line-height: 1.4em;
	font-size: 14px;
	color: #111;
	word-wrap: break-word
}
p {
	margin: 0 0 1.7em 0
}
a {
	color: rgb(13,110,161);
	text-decoration: none;
	-webkit-transition: color .2s ease-in-out
}
a:hover {
	color: #3593d9
}
h1.doctitle {
	background: #eee;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	line-height: 28px;
	margin: 0;
	padding: 0 10px;
	border-bottom: solid 1px #aaa;
	white-space: nowrap
}
h1,h2,h3,h4,h5 {
	line-height: 1.1em
}
h1 {
	font-size: 24px;
	color: #000;
	margin: 12px 0 15px 0
}
h2 {
	font-size: 20px;
	color: #111;
	width: auto;
	margin: 15px 0 10px 2px
}
h2 em {
	line-height: 1.6em;
	font-size: 12px;
	color: #111;
	text-shadow: 0 1px 0 #FFF;
	padding-left: 10px
}
h3 {
	font-size: 20px;
	color: #111
}
h4 {
	font-size: 14px;
	color: #111;
	margin-bottom: 1.3em
}
.footnote {
	font-size: .8em;
	vertical-align: super;
	color: rgb(13,110,161)
}
#contentdiv img {
	max-width: 100%
}
dt {
	font-weight: bold
}
dd {
	margin-bottom: 1em
}
@media print {body {
	overflow: auto
}
#wrapper {
	background: #fff;
	position: relative
}
#contentdiv {
	position: relative;
	background: transparent;
	color: #303030;
	text-indent: 0px;
	padding: 10px
}

}
@media screen {body {
	overflow: hidden
}
#wrapper {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-box-shadow: inset 0px 0px 4px #8F8D87
}
#contentdiv {
	position: fixed;
	top: 27px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background: transparent;
	color: #303030;
	overflow: auto;
	text-indent: 0px;
	padding: 10px
}
#contentdiv::-webkit-scrollbar {
	width: 6px
}
#contentdiv::-webkit-scrollbar:horizontal {
	height: 6px;
	display: none
}
#contentdiv::-webkit-scrollbar-track {
	background: transparent;
	-webkit-border-radius: 0;
	right: 10px
}
#contentdiv::-webkit-scrollbar-track:disabled {
	display: none
}
#contentdiv::-webkit-scrollbar-thumb {
	border-width: 0;
	min-height: 20px;
	background: #777;
	opacity: 0.4;
	-webkit-border-radius: 5px
}

}
li>p {
	margin: 0 0 1em
}
ul ul,ul ol {
	margin-bottom: 1em
}
