<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-33</key>
	<string>la carpeta está llena</string>
	<key>-34</key>
	<string>el disco está lleno</string>
	<key>-35</key>
	<string>el dispositivo no existe</string>
	<key>-36</key>
	<string>se ha producido un problema al acceder al dispositivo</string>
	<key>-37</key>
	<string>el nombre era incorrecto</string>
	<key>-38</key>
	<string>el archivo no está abierto</string>
	<key>-39</key>
	<string>se alcanzó el final del archivo</string>
	<key>-40</key>
	<string>a negative file position offset was specified</string>
	<key>-41</key>
	<string>el archivo no va a caber en la memoria</string>
	<key>-42</key>
	<string>hay demasiados archivos abiertos</string>
	<key>-43</key>
	<string>no se ha encontrado el archivo</string>
	<key>-44</key>
	<string>el dispositivo está protegido contra la escritura</string>
	<key>-45</key>
	<string>el archivo está bloqueado</string>
	<key>-46</key>
	<string>el dispositivo está bloqueado</string>
	<key>-47</key>
	<string>el archivo sigue estando en uso</string>
	<key>-48</key>
	<string>ya existe un archivo con el mismo nombre</string>
	<key>-49</key>
	<string>el archivo ya está siendo editado</string>
	<key>-50</key>
	<string>un parámetro era no era válido</string>
	<key>-51</key>
	<string>el número de referencia del archivo no es válido</string>
	<key>-52</key>
	<string>the file position offset couldn&apos;t be obtained</string>
	<key>-53</key>
	<string>el dispositivo ya no está presente</string>
	<key>-54</key>
	<string>el archivo está bloqueado</string>
	<key>-55</key>
	<string>el disco ya está montado</string>
	<key>-56</key>
	<string>se ha referido un volumen que no existe</string>
	<key>-57</key>
	<string>el dispositivo no tiene un formato compatible con Mac</string>
	<key>-58</key>
	<string>el sistema de ficheros del volumen no se puede manejar</string>
	<key>-59</key>
	<string>ha ocurrido un problema durante el renombramiento</string>
	<key>-60</key>
	<string>el bloque principal de la carpeta está mal</string>
	<key>-61</key>
	<string>los permisos del archivo no le autorizan a editarlo</string>
	<key>-64</key>
	<string>el dispositivo no está instalado</string>
	<key>-120</key>
	<string>no se ha encontrado la carpeta</string>
	<key>-121</key>
	<string>hay demasiadas carpetas abiertas</string>
	<key>-122</key>
	<string>una carpetaa no se pueden mover a otra carpeta que tenga dentro</string>
	<key>-123</key>
	<string>el volumen no es del tipo correcto</string>
	<key>-124</key>
	<string>el volumen del servidor se ha desconectado</string>
	<key>-127</key>
	<string>ha habido un problema con el controlado del sistema de ficheros</string>
	<key>-128</key>
	<string>la operación ha sido cancelada</string>
	<key>-818</key>
	<string>the data could not be unserialized</string>
	<key>-819</key>
	<string>the Interim Note-Changes file could not be initialized</string>
	<key>-820</key>
	<string>the Interim Note-Changes file couldn&apos;t be appended-to</string>
	<key>-821</key>
	<string>erroe en la identificación</string>
	<key>-822</key>
	<string>no se han podido descomprimir los datos</string>
	<key>-823</key>
	<string>no ha introducido un frase de contraseña</string>
	<key>-824</key>
	<string>no se le puede dar un formato apropiado a los datos</string>
	<key>-825</key>
	<string>las notas tienen diferentes valores tras la descodificación</string>
	<key>-1300</key>
	<string>la ID del archivo no ha sido encontrada en el sistema de ficheros</string>
	<key>-1301</key>
	<string>ya hay un archivo con ese ID en el sistema de ficheros</string>
	<key>-1302</key>
	<string>el archivo era en realidad una carpeta</string>
	<key>-1303</key>
	<string>los archivos están en volúmenes diferentes</string>
	<key>-1304</key>
	<string>el catálogo ha cambiado sin aviso</string>
	<key>-1306</key>
	<string>the file&apos;s contents were attempted to be exchanged with itself</string>
	<key>-1307</key>
	<string>the file doesn&apos;t match the file ID number</string>
	<key>-1308</key>
	<string>el volumen se ha vuelto a montar de forma inapropiada</string>
	<key>-1309</key>
	<string>the file was accessed outside of its bounds</string>
	<key>-1310</key>
	<string>the file or volume is too large</string>
	<key>-1311</key>
	<string>the volume is in use by the virtual memory subsystem</string>
	<key>-1327</key>
	<string>the file control block table was improperly accessed</string>
	<key>-1400</key>
	<string>the file system call is unknown</string>
	<key>-1401</key>
	<string>the file system reference is no longer valid</string>
	<key>-1402</key>
	<string>an invalid fork name was specified</string>
	<key>-1403</key>
	<string>a buffer was uninitialized</string>
	<key>-1404</key>
	<string>an invalid fork number was specified</string>
	<key>-1405</key>
	<string>invalid file catalog information was requested</string>
	<key>-1406</key>
	<string>the catalog information buffer was uninitialized</string>
	<key>-1407</key>
	<string>a folder was in fact a file</string>
	<key>-1409</key>
	<string>the file&apos;s requested fork doesn&apos;t exist</string>
	<key>-1410</key>
	<string>the requested name is too long to be valid</string>
	<key>-1411</key>
	<string>the file doesn&apos;t have a name</string>
	<key>-1412</key>
	<string>an invalid positioning mode was specified for accessing the file</string>
	<key>-1413</key>
	<string>the file was improperly allocated</string>
	<key>-1417</key>
	<string>the were no more items to find</string>
	<key>-1418</key>
	<string>no items were requested to be read from the directory</string>
	<key>-1419</key>
	<string>the search parameters are invalid</string>
	<key>-1420</key>
	<string>the file system references are different</string>
	<key>-1421</key>
	<string>the file already has a fork</string>
	<key>-1422</key>
	<string>invalid parameters were passed when iterating over the directory</string>
	<key>-1423</key>
	<string>the specified directory iterator is invalid</string>
	<key>-1424</key>
	<string>the directory iterator was used improperly</string>
	<key>-1425</key>
	<string>you have exceeded your disk quota</string>
	<key>-5000</key>
	<string>your account lacks permission to access the directory</string>
</dict>
</plist>
