<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-33</key>
	<string>the directory is full</string>
	<key>-34</key>
	<string>the disk is full</string>
	<key>-35</key>
	<string>the volume does not exist</string>
	<key>-36</key>
	<string>there was a problem accessing the disk media</string>
	<key>-37</key>
	<string>the name was bad</string>
	<key>-38</key>
	<string>the file is not open</string>
	<key>-39</key>
	<string>the end of the file was reached</string>
	<key>-40</key>
	<string>a negative file position offset was specified</string>
	<key>-41</key>
	<string>the file won&apos;t fit in memory</string>
	<key>-42</key>
	<string>there are too many open files</string>
	<key>-43</key>
	<string>the file wasn&apos;t found</string>
	<key>-44</key>
	<string>the media is write-protected</string>
	<key>-45</key>
	<string>the file is locked</string>
	<key>-46</key>
	<string>the volume is locked</string>
	<key>-47</key>
	<string>the file is still in use</string>
	<key>-48</key>
	<string>a file with the same name already exists</string>
	<key>-49</key>
	<string>the file is already open for writing</string>
	<key>-50</key>
	<string>a parameter was invalid</string>
	<key>-51</key>
	<string>the file reference number is invalid</string>
	<key>-52</key>
	<string>the file position offset couldn&apos;t be obtained</string>
	<key>-53</key>
	<string>the volume is no longer present</string>
	<key>-54</key>
	<string>the file is locked</string>
	<key>-55</key>
	<string>the disk is already mounted</string>
	<key>-56</key>
	<string>a non-existent drive was referenced</string>
	<key>-57</key>
	<string>the disk is not mac-formatted</string>
	<key>-58</key>
	<string>the volume&apos;s file system type is not handled</string>
	<key>-59</key>
	<string>there was a problem in the middle of renaming</string>
	<key>-60</key>
	<string>the master directory block is bad</string>
	<key>-61</key>
	<string>the file&apos;s permissions prevent you from writing</string>
	<key>-64</key>
	<string>the drive is not installed</string>
	<key>-120</key>
	<string>the directory was not found</string>
	<key>-121</key>
	<string>there are too many open working directories</string>
	<key>-122</key>
	<string>folders cannot be moved into folders that they contain</string>
	<key>-123</key>
	<string>the volume is of the wrong type</string>
	<key>-124</key>
	<string>the server volume disconnected</string>
	<key>-127</key>
	<string>there was a problem with the file system driver software</string>
	<key>-128</key>
	<string>the operation was cancelled</string>
	<key>-818</key>
	<string>the data could not be unserialized</string>
	<key>-819</key>
	<string>the Interim Note-Changes file could not be initialized</string>
	<key>-820</key>
	<string>the Interim Note-Changes file couldn&apos;t be appended-to</string>
	<key>-821</key>
	<string>authentication failed</string>
	<key>-822</key>
	<string>the data couldn&apos;t be decompressed</string>
	<key>-823</key>
	<string>you did not enter a passphrase</string>
	<key>-824</key>
	<string>the data could not be formatted appropriately</string>
	<key>-825</key>
	<string>notes had mis-matching values after decoding</string>
	<key>-1300</key>
	<string>the specified file ID was not found on the file system</string>
	<key>-1301</key>
	<string>the file ID already exists on the file system</string>
	<key>-1302</key>
	<string>a file was in fact a folder</string>
	<key>-1303</key>
	<string>the files are on different volumes</string>
	<key>-1304</key>
	<string>the catalog changed unexpectedly</string>
	<key>-1306</key>
	<string>the file&apos;s contents were attempted to be exchanged with itself</string>
	<key>-1307</key>
	<string>the file doesn&apos;t match the file ID number</string>
	<key>-1308</key>
	<string>the volume was improperly remounted</string>
	<key>-1309</key>
	<string>the file was accessed outside of its bounds</string>
	<key>-1310</key>
	<string>the file or volume is too large</string>
	<key>-1311</key>
	<string>the volume is in use by the virtual memory subsystem</string>
	<key>-1327</key>
	<string>the file control block table was improperly accessed</string>
	<key>-1400</key>
	<string>the file system call is unknown</string>
	<key>-1401</key>
	<string>the file system reference is no longer valid</string>
	<key>-1402</key>
	<string>an invalid fork name was specified</string>
	<key>-1403</key>
	<string>a buffer was uninitialized</string>
	<key>-1404</key>
	<string>an invalid fork number was specified</string>
	<key>-1405</key>
	<string>invalid file catalog information was requested</string>
	<key>-1406</key>
	<string>the catalog information buffer was uninitialized</string>
	<key>-1407</key>
	<string>a folder was in fact a file</string>
	<key>-1409</key>
	<string>the file&apos;s requested fork doesn&apos;t exist</string>
	<key>-1410</key>
	<string>the requested name is too long to be valid</string>
	<key>-1411</key>
	<string>the file doesn&apos;t have a name</string>
	<key>-1412</key>
	<string>an invalid positioning mode was specified for accessing the file</string>
	<key>-1413</key>
	<string>the file was improperly allocated</string>
	<key>-1417</key>
	<string>the were no more items to find</string>
	<key>-1418</key>
	<string>no items were requested to be read from the directory</string>
	<key>-1419</key>
	<string>the search parameters are invalid</string>
	<key>-1420</key>
	<string>the file system references are different</string>
	<key>-1421</key>
	<string>the file already has a fork</string>
	<key>-1422</key>
	<string>invalid parameters were passed when iterating over the directory</string>
	<key>-1423</key>
	<string>the specified directory iterator is invalid</string>
	<key>-1424</key>
	<string>the directory iterator was used improperly</string>
	<key>-1425</key>
	<string>you have exceeded your disk quota</string>
	<key>-5000</key>
	<string>your account lacks permission to access the directory</string>
</dict>
</plist>
